ErrorDocument 404 http://localhost/diggital-agency/404
ErrorDocument 500 http://localhost/diggital-agency/404
DirectoryIndex index.php


 RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php

